@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

.ant-btn {
  background-color: #fd5c00;
  box-shadow: none !important;
  color: white !important;

  &:hover {
    background-color: #ff6a00 !important;
  }
}

.ant-table-thead th {
  background-color: #ff6a00 !important;
  color: white !important;

  &::before {
    display: none;
  }
}

.ant-menu-item-selected {
  background-color: #ff6a00 !important;
  color: white !important;
}

.ant-menu-title-content {
  font-weight: 600;
}
.img-wid100 .ant-image{
  width: 100%;
}
.hover-delete-icon:hover .image-delete-icon {
  visibility: visible!important;
  opacity: 1!important;
}
.item-size{
  border: 1px solid rgba(206, 206, 206, 1);
  border-radius: 8px;
  padding: 5px;
  cursor: pointer;
}
.item-size.active-class{
  background-color: rgba(243, 241, 255, 1);
  border-color: rgba(49, 39, 131, 1);
}
.material-prince{
  color: red;
}
.item-size-material{
  border-radius: 6px;
  border: 1px solid rgba(206, 206, 206, 1);
  padding: 5px 10px;
  cursor: pointer;
}
.item-size-material.active-class{
  /* border-color: red; */
  background-color: #def4ff;
    background-color: rgba(243, 241, 255, 1);
    border-color: rgba(49, 39, 131, 1);
}